<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a routerLink="/zaposleni" class="nav-link">Zaposleni</a>
                </li>

                <li class="nav-item">
                    <a routerLink="/vozila" class="nav-link">Vozila</a>
                </li>

                <li class="nav-item">
                    <a routerLink="/racuni" class="nav-link">Racuni</a>
                </li>

                <li class="nav-item">
                    <a routerLink="/kategorija" class="nav-link">Kategorija</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<router-outlet></router-outlet>