<div class="container" *ngIf="vozila">
    <span class="d-inline font-weight-bold mb-3">Vozila: </span>
    <button (click)="dodajVozilo()" class="d-inline btn btn-lg btn-success float-right">Dodaj vozilo</button>    
    
    <table class="table table-hover table-stripped text-center mt-5">
        <thead>
            <th scope="col" class="fit">#</th>
            <th scope="col">ID</th>
            <th scope="col">Vlasnik</th>
            <th scope="col">Upravnik</th>
            <th scope="col">Kategorija</th>
            <th scope="col">Trazena cena</th>
            <th scope="col">Prodato</th>
            <!-- Akcije dodaj na racun n shit ? -->
        </thead>

        <tbody>
            <tr *ngFor="let v of vozila; let i = index" (click)="voziloRedirect(v.id)">
                <th span="row" class="fit">{{i+1}}</th>
                <td> {{v.id}} </td>
                <td> {{v.vlasnik.ime}} {{v.vlasnik.prezime}} </td>
                <td> {{v.upravnik.ime}} {{v.upravnik.prezime}} </td>
                <td> {{v.kategorija.naziv}} </td>
                <td> {{v.min_cena}} </td>
                <td> {{ v.prodato }} </td>
            </tr>
        </tbody>
    </table>

</div>