<div class="container">
    <form [formGroup]="klijentForm" (ngSubmit)="addKlijent()">
        <div class="mb-2">
            <input required type="text" placeholder="Ime" class="form-control" formControlName="ime">
            <div *ngIf="ime.errors && (ime.touched || ime.dirty)" class="alert alert-danger">
                <span class="help-block" *ngIf="ime.errors.required">
                    Morate uneti ime klijenta!
                </span>
            </div>
        </div>

        <div class="mb-2">
            <input required type="text" placeholder="Prezime" class="form-control" formControlName="prezime">
            <div *ngIf="prezime.errors && (prezime.touched || prezime.dirty)" class="alert alert-danger">
                <span class="help-block" *ngIf="prezime.errors.required">
                    Morate uneti prezime klijenta!
                </span>
            </div>
        </div>

        <div class="mb-2">
            <input required type="text" placeholder="Email" class="form-control" formControlName="email">
            <div *ngIf="email.errors && (email.touched || email.dirty)" class="alert alert-danger">
                <span class="help-block" *ngIf="email.errors.required">
                    Morate uneti email klijenta!
                </span>
                <span class="help-block" *ngIf="email.errors.email">
                    Email mora biti validan!
                </span>
            </div>
        </div>

        <div class="mb-2">
            <input required type="text" placeholder="Broj telefona" class="form-control" formControlName="broj_telefona">
            <div *ngIf="broj_telefona.errors && (broj_telefona.touched || broj_telefona.dirty)" class="alert alert-danger">
                <span class="help-block" *ngIf="broj_telefona.errors.required">
                    Morate uneti broj telefona klijenta!
                </span>
                <span class="help-block" *ngIf="broj_telefona.errors.minlength || broj_telefona.errors.maxlength">
                    Broj telefona mora imati 9 ili 10 cifri!
                </span>
                <span class="help-block" *ngIf="broj_telefona.errors.pattern">
                    Broj telefona moze sadrzati samo brojeve!
                </span>
            </div>
        </div>

        <div class="mb-2">
            <input required type="text" placeholder="JMBG" class="form-control" formControlName="jmbg">
            <div *ngIf="jmbg.errors && (jmbg.touched || jmbg.dirty)" class="alert alert-danger">
                <span class="help-block" *ngIf="jmbg.errors.required">
                    Morate uneti JMBG klijenta!
                </span>

                <span class="help-block" *ngIf="jmbg.errors.minlength || jmbg.errors.maxlength">
                    JMBG mora imati 13 cifri!
                </span>
                <span class="help-block" *ngIf="jmbg.errors.pattern">
                    JMBG moze sadrzati samo brojeve!
                </span>
            </div>
        </div>

        <button [disabled]="!klijentForm.valid" type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>