<div class="container">
    <form [formGroup]="prodavacForm" (ngSubmit)="dodajProdavca()">
        <div formGroupName="zaposleni">
            <div class="mb-2">
                <input required type="text" placeholder="Ime" class="form-control" formControlName="ime">
                <div *ngIf="ime.errors && (ime.touched || ime.dirty)" class="alert alert-danger">
                    <span class="help-block" *ngIf="ime.errors.required">
                        Morate uneti ime prodavca!
                    </span>
                </div>
            </div>
    
            <div class="mb-2">
                <input required type="text" placeholder="Prezime" class="form-control" formControlName="prezime">
                <div *ngIf="prezime.errors && (prezime.touched || prezime.dirty)" class="alert alert-danger">
                    <span class="help-block" *ngIf="prezime.errors.required">
                        Morate uneti prezime prodavca!
                    </span>
                </div>
            </div>
    
            <div class="mb-2">
                <input required type="text" placeholder="JMBG" class="form-control" formControlName="jmbg">
                <div *ngIf="jmbg.errors && (jmbg.touched || jmbg.dirty)" class="alert alert-danger">
                    <span class="help-block" *ngIf="jmbg.errors.required">
                        Morate uneti JMBG prodavca!
                    </span>
    
                    <span class="help-block" *ngIf="jmbg.errors.minlength || jmbg.errors.maxlength">
                        JMBG mora imati 13 cifri!
                    </span>
                    <span class="help-block" *ngIf="jmbg.errors.pattern">
                        JMBG moze sadrzati samo brojeve!
                    </span>
                </div>
            </div>
        </div>

        <div formGroupName="prodavac">
            <div class="mb-2">
                <div class="mb-2">
                    <input required type="text" placeholder="Broj dozvole" class="form-control" formControlName="broj_dozvole">
                    <div *ngIf="broj_dozvole.errors && (broj_dozvole.touched || broj_dozvole.dirty)" class="alert alert-danger">
                        <span class="help-block" *ngIf="broj_dozvole.errors.required">
                            Morate uneti broj dozvole prodavca!
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <button [disabled]="!prodavacForm.valid" type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>